In [28]:
#Q1. Create one variable containing following type of data:
    #(i)	string
var_string = "First Assignment String Variable"
type(var_string)
    #(ii)	list
var_list = [1,33,"vaibhav",5]
type(var_list)
    #(iii)	float
var_float = 5.5
type(var_float)

    #(iv)	tuple
var_tuple =   (1,33,"vaibhav",5,4.4,[1,2,3])  
type(var_tuple)

tuple

In [42]:
#Q2. Given are some following variables containing data:

var1 = '  '
type(var1)
#str

var2 = '[ DS , ML , Python]'
type(var2)
#str

var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)
#list

var4 = 1.
type(var4)
#float

#What will be the data type of the above given variable

float

In [52]:
#Q3. Explain the use of the following operators using an example:

#(i)	/  Division Operator returns the float value when 1 number divided from another
var = 3/2
var
#(ii)	% Modulus, returns the remainder when 1 number divided by another
var1 = 5%2
var1


#(iii)	// Division , returns the Floor value when 1 number divided by another
var3 = 7//2
var3

#(iv)	** Power : Returns power to 1 number to another
var4 = 3**4
var4

81

In [55]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#    element and its data type.

var_list = [1,4,4.3,10,[1,2,3],"Vaibhav","PW","a","b",100]
for i in var_list  :
    print(i)
    print(type(i))

1
<class 'int'>
4
<class 'int'>
4.3
<class 'float'>
10
<class 'int'>
[1, 2, 3]
<class 'list'>
Vaibhav
<class 'str'>
PW
<class 'str'>
a
<class 'str'>
b
<class 'str'>
100
<class 'int'>

In [7]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

a= 2
b = 2
while a < 10:
    c=a%b
    if c == 0:
        print ("Number A is purely divisible by number B")
        d = a/b
        print ("Number A is Divided by number B ",d," Times")
     
    a += 1

Number A is purely divisible by number B
Number A is Divided by number B  1.0  Times
Number A is purely divisible by number B
Number A is Divided by number B  2.0  Times
Number A is purely divisible by number B
Number A is Divided by number B  3.0  Times
Number A is purely divisible by number B
Number A is Divided by number B  4.0  Times

In [21]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not

var_list = [4,6,3,8,9,21,23,24,25,29,29,30,32,33,34,36,28,29,44,35,28,22,99,87,22]
for i in range(25):
    c=var_list[i]%3
    if c==0:
        print(var_list[i]," is divided by 3")
    else:
        print(var_list[i]," is not divided by 3")

4  is not divided by 3
6  is divided by 3
3  is divided by 3
8  is not divided by 3
9  is divided by 3
21  is divided by 3
23  is not divided by 3
24  is divided by 3
25  is not divided by 3
29  is not divided by 3
29  is not divided by 3
30  is divided by 3
32  is not divided by 3
33  is divided by 3
34  is not divided by 3
36  is divided by 3
28  is not divided by 3
29  is not divided by 3
44  is not divided by 3
35  is not divided by 3
28  is not divided by 3
22  is not divided by 3
99  is divided by 3
87  is divided by 3
22  is not divided by 3

In [29]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

# ANSWER - MUTABLE DATA TYPES Can Change their index value, state or Content Eg List , Dict , set where as IMMUTABLE DATA tYPE cannot Change there index value ,state or content Eg : String,INT , FLOAT , BOOL, Tuple , Let get into it with Practical 

#MUTABLE DATA TYPE

color = ["RED","GREEN","BLUE"]
print (color)
color[0] = "PINK"
color[-1] = "YELLOW"
print(color)

#IMMUTABLE DATA TYPE 
var_str = "DATA SCIENCE "
print(var_str)
var_str[0] = "M"
print(var_str)

var_tupple = (0,2,4,6)
print(var_tupple)
var_tupple[0] = 7
print(var_tupple)

# SO We cannot change Index value of IMMUTABLE data type but we can assign new value to it , but in Case of Mutable data type we can change Idex value

['RED', 'GREEN', 'BLUE']
['PINK', 'GREEN', 'YELLOW']
DATA SCIENCE

TypeError: 'str' object does not support item assignment